<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-product</title>
    <style>
        .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: rgb(251, 255, 0);
        }
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-header-items">
                <li class="items"><a href="/">shop</a></li>
                <li class="items"><a href="/add-product">add-product</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>My products</h1>
        <p>list of all the products......</p>
    </main>

</body>

</html>